<div class="minesweeper">

    <h1>minesweeper</h1>
    
    <div class="board" ng-repeat="row in board.cells track by $index">
        <div class="board-row" ng-repeat="cell in row track by $index">
            <div class="board-cell" ng-click="clickBoard($parent.$index, $index)">
                
                <!-- ({{$parent.$index}},{{$index}}) -->
                <div class="board-cell-data" ng-show="board.cellAt($parent.$index, $index).hasBeenClicked">
                    {{board.numberAt($parent.$index, $index)}}
                <div>

                <div class="ng-hide" ng-hide="board.cellAt($parent.$index, $index).hasBeenClicked">
                    X
                </div>

            </div>
        </div>
    </div>
    
</div>
